{
  "extends": ["eslint:recommended", "prettier", "plugin:@typescript-eslint/recommended", "plugin:jest/recommended"],
  "plugins": ["import", "prettier", "jest", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    }
  },
  "rules": {
    "semi": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/indent": ["error", 2],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["**/*.test.*"]
    }],
    "@typescript-eslint/no-unused-vars": ["error", {
      "varsIgnorePattern": "^_"
    }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-object-literal-type-assertion": "off"
  }
}